<html>
  <head>
    <meta charset='UTF-8' />
    <title>Welcome to SNet</title>
  </head>
  <body>
    <h1>Welcome, {{username}}!</h1>
    <p>Thank you for joining SNet. We're excited to have you on board.</p>
    <p>If you have any questions, feel free to reach out to our support team.</p>
    <p>Best regards,<br />The SNet Team</p>
  </body>
</html>